/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* common style or utilits*/
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size:  24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr ; */
    grid: row gap 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* ------------
courses style
--------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px;
}
.course .course-banner img{
    width: 266px;
    height: 141px;
}
/*---------------
Media Queries  
----------------*/
/* Mobile Devices */
@media only screen  and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
       grid-template-columns: repeat(1, 1fr);
   }
   .player, .blog{
       flex-direction: column;
   }
}